.vagrant

extend/
!extend/README.md
!extend/goteo-dev

/node_modules/
/vendor/
/bower_components/
*.log
.tmp
var/*
!var/logs
!var/cache
!var/data
!var/php
var/php/sess_*

config/*
!config/README.md
!config/demo-settings.yml
!config/vagrant-settings.yml
config/settings.yml

phpunit.xml
tests/build
.couscous
